.popup {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 1s opacity, 1s visibility;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}