.profile__edit-bottom {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    outline: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.profile__edit-bottom:hover{
    opacity: 0.6;
    cursor: pointer;
}


@media (max-width: 425px) {/* CSS для экранов меньше 425px */
    .profile__edit-bottom {
        width: 18px;
        height: 18px;
    }
}